.request-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    border: 1px solid #212A39;
    border-radius: 10px;
    background-color: #050E18;
    width: 400px;
}

.button-submit {
    background: none;
    color: #5AB0FF;
    border: 2px solid #5AB0FF;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    transition: 300ms;
}

.button-submit:hover {
    transform: scale(1.1);
}

.request-form input {
    height: 40px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #494949; /* Неактивный бордер */
    border-radius: 4px;
    background-color: transparent; /* Цвет фона полей */
    color: #ccc; /* Цвет текста в полях */
    transition: border-color 0.3s;
    
}

.request-form input:focus {
    border-color: #2B8EFF; /* Цвет бордера при фокусе */
    outline: none;
}

.requestContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}