.auth-details-form {
    background-color: #1D202A; /* Задний фон */
    color: #ccc; /* Цвет текста */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.auth-details-form div {
    margin-bottom: 15px;
}

.auth-details-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.auth-details-form input,
.auth-details-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #C4D1ED; /* Неактивный бордер */
    border-radius: 4px;
    background-color: #2A2D33; /* Цвет фона полей */
    color: #ccc; /* Цвет текста в полях */
    transition: border-color 0.3s;
}

.auth-details-form input:focus,
.auth-details-form select:focus {
    border-color: #2B8EFF; /* Цвет бордера при фокусе */
    outline: none;
}

.auth-details-form button {
    background-color: #2B8EFF; /* Цвет кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.auth-details-form button:hover {
    background-color: #1A6BB8; /* Цвет кнопки при наведении */
}

.inputAuth {
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth-details-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
