.auth-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container-signin {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    border: 1px solid #212A39;
    border-radius: 10px;
    background-color: #050E18;
    width: 400px;
}

.form-container-signin1 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    border: 1px solid #212A39;
    border-radius: 10px;
    background-color: #050E18;
    width: 400px;
}

.logo-icon-form {
    background-image: url('../../../assets/logo (1).svg');
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-bottom: 15px;
}

.displayFlex {
    display: flex;
    align-items: center;
}

.logo-text {
    color: white;
}

.authText {
    color: white;
    font-size: 30px;
}

.emailText {
    color: #B8B8B8;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 15px;
}

.signInButton {
    margin-top: 20px;
}

.forgotPass {
    margin-top: 15px;
    justify-self: center;
    align-self: center;
    text-decoration: underline;
    color: #1A6BB8;
}

.form-container-signin input {
    height: 30px;
    font-size: 18px;
    padding: 10px 10px 10px 40px;
    border: 1px solid #494949; /* Неактивный бордер */
    border-radius: 4px;
    background-color: transparent; /* Цвет фона полей */
    color: #ccc; /* Цвет текста в полях */
    transition: border-color 0.3s;
}
.form-container-signin1 input,
.form-container-signin1 select {
    height: 40px;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #494949; /* Неактивный бордер */
    border-radius: 4px;
    background-color: transparent; /* Цвет фона полей */
    color: #ccc; /* Цвет текста в полях */
    transition: border-color 0.3s;
}

.inputAuth {
    padding: 0px 0px 0px 0px;
}

.form-container-signin input:focus,
.form-container-signin select:focus,
.form-container-signin1 input:focus,
.form-container-signin1 select:focus {
    border-color: #2B8EFF; /* Цвет бордера при фокусе */
    outline: none;
}

.signInButton {
    height: 40px;
    color: white;
    background-color: #2D92FB;
    border: none;
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}

.signInButton:hover {
    background-color: #1A6BB8;
}

.separator {
    padding-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #212A39;
    margin: 0 10px;
}

.separator span {
    color: white;
}

.email-icon {
    width: 25px;
    height: 25px;
    background-image: url('../../../assets/email.svg');
    background-size: cover;
    position: fixed;
    margin-left: 10px;
    margin-bottom: 245px;
}

.lock-icon {
    width: 25px;
    height: 25px;
    background-image: url('../../../assets/lock.svg');
    background-size: cover;
    position: fixed;
    margin-left: 10px;
    margin-bottom: 65px;
}

.googleButton {
    height: 40px;
    color: #1A6BB8;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #1A6BB8;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.googleButton:hover {
    color: #2B8EFF;
    background-color: #0B0C0F;
    border-color: #2B8EFF;
}

.googleIcon {
    background-image: url('../../../assets/icons8-google.svg');
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-right: 5px;
}

.noAccount {
    display: flex;
    margin-top: 20px;
    align-self: center;
    justify-self: center;
}

.noAccountText {
    text-decoration: none;
    color: white;
}

.noAccount1 {
    text-decoration: underline;
    color: #1A6BB8;
}

.criteria-not-met {
    color: #494949;
}

.criteria-met {
    color: #2B8EFF;
}

.password-criteria {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.passworCriteriaContainer {
    position: fixed;
    margin-right: 800px;
    background-color: #050E18;
    border: 1px solid #212A39;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.CriteriaText {
    color: white;
    font-size: 18px;
}

.email-icon1 {
    background-image: url('../../../assets/email.svg');
    width: 25px;
    height: 25px;
    background-size: cover;
    position: fixed;
    margin-bottom: 238px;
    margin-left: 10px;
}

.lock-icon1 {
    background-image: url('../../../assets/lock.svg');
    width: 25px;
    height: 25px;
    background-size: cover;
    position: fixed;
    margin-bottom: 58px;
    margin-left: 10px;
}

.lock-icon2 {
    background-image: url('../../../assets/lock.svg');
    width: 25px;
    height: 25px;
    background-size: cover;
    position: fixed;
    margin-top: 118px;
    margin-left: 10px;
}

.marginBottom {
    margin-bottom: 20px;
}

.form-container-signin label {
    color: white;
}

@media ( max-width: 767px ) {


    .auth-page {
        height: 100%;
        margin-top: 0px;
    }

    .form-container-signin {
        margin: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content: center;
        border: none;
        background-color: #050E18;
        width: 100%;
    }

    .passworCriteriaContainer {
        display: none;
    }

}