.top-80-px {
    position: relative;
    top: 80px;
}

.button-delete {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}
.button-delete:hover {
    background-color: #C4D1ED;
    transform: scale(1.1);
}

.select-container {
    position: relative;
    height: 28px;
    width: 150px;
  }
  
select {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    appearance: none; /* Убираем стандартный стиль select в разных браузерах */
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
select::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none; /* Чтобы клики проходили сквозь этот элемент */
    color: #6c757d;
  }
  
  /* Стили для option не могут быть напрямую изменены, но вы можете стилизовать select */
option {
    padding: 8px;
    background-color: #f8f9fa;
  }
  
  /* Стили для состояния фокуса */
  select:focus {
    outline: none;
    border-color: #80bdff;
    border: 2px solid #5AB0FF;
  }
  