body {
  background-color: #051223;
  color: #C4D1ED;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

@media ( max-width: 767px ) { 
  body {
    background-color: #050E18;
  }

  .marginTop {
    margin-top: 0px;
  }

  .tiles-container {
    margin-top: 0px;
  }
}