.header-container {
    width: 100%;
    height: 80px;
    background-color: #11151A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container-label {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.icon {
    width: 200px;
    height: 70px;
    background-color: none;
    background-image: url('../../../assets/logo (1).svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.auth-margin-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.auth-header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #5AB0FF;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #5AB0FF;
    box-shadow: none;
    transition: 200ms;
    cursor: pointer;
}

.auth-header-button:hover,
.auth-header-button2:hover { 
    transform: scale(1.1);
}

.auth-header-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    font-size: 16px;
    color: #5AB0FF;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #5AB0FF;
    box-shadow: none;
    transition: 200ms;
    margin: 50px;
    cursor: pointer;
}

.rostech-icon {
    background-image: url('../../../assets/rosteh.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 30px;
    margin: 50px;
}

.action-container {
    width: 900px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.action-margin {
    font-size: 15px;
    transition: 300ms;
    cursor: pointer;
    padding: 10px;
    background: none;
    color: #E9ECEF;
    box-shadow: none;
    border: none;
    transition: 0.3s;
}

.action-margin:hover {
    color: #2B8EFF;
}

.action-margin.active {

    color: #2F95F7;
    
}

.userIcon {
    width: 30px;
    height: 30px;
    background-image: url('../../../assets/bx-user.svg');
    background-size: cover;
    position: fixed;
    margin-right: 120px;
}

.action-container {
    width: 900px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative; /* Для позиционирования индикатора */
}

.indicator {
    position: absolute;
    bottom: 8px; /* Расстояние от кнопок */
    height: 3px; /* Высота полосы */
    background-color: #2F95F7; /* Цвет полосы */
    transition: left 0.3s ease, width 0.3s ease; /* Анимация перемещения и изменения ширины */
}